{{- range .Matches}}
"WORKSTREAM_PLACEHOLDER","DEPLOYMENT_NAME_PLACEHOLDER","QUAY_TAG_PLACEHOLDER","{{.Vulnerability.ID}}","{{.Vulnerability.DataSource}}","{{.Vulnerability.Severity}}","{{.Artifact.Name}}","{{.Artifact.Version}}","{{.Vulnerability.Fix.Versions}}","{{.Vulnerability.Fix.State}}"
{{- end}}
===GRYPE_TEMPLATE_SEPARATOR===
{
    "workstream": "WORKSTREAM_PLACEHOLDER",
    "deployment_name": "DEPLOYMENT_NAME_PLACEHOLDER",
    "quay_tag": "QUAY_TAG_PLACEHOLDER",
    "vulnerabilities": [
        {{- range .Matches}}
        {
        "vulnerability_id": "{{.Vulnerability.ID}}",
        "data_source": "{{.Vulnerability.DataSource}}",
        "severity": "{{.Vulnerability.Severity}}",
        "name": "{{.Artifact.Name}}",
        "installed_version": "{{.Artifact.Version}}",
        "fixed_versions": "{{.Vulnerability.Fix.Versions}}",
        "fixed_state": "{{.Vulnerability.Fix.State}}"
        },
        {{- end}}
    ]
},
